# Crie um arquivo .env na pasta agendaduo-backend baseado neste:
DATABASE_URL="postgresql://root:rootpassword@localhost:5432/agendaduo?schema=public"
ENCRYPTION_KEY="12345678901234567890123456789012" # 32 caracteres
PORT=3001
FRONTEND_URL="http://localhost:3000"

# Chaves do Clerk (Pegue no seu painel Clerk.com)
CLERK_SECRET_KEY="sk_test_..."
